@CHARSET "UTF-8";

#wdshare-share-box {
	background-color: #ccc;
	width: 55px;
	padding: 10px;
	margin: 0;
	overflow: hidden;
	position: absolute;
	display: none;
}

#wdshare-share-box ul, #wdshare-share-box ul li {
	margin: 0 !important; padding: 0 !important;
	list-style-type: none !important;
}

/*** Inline ***/
#wdshare-share-box.wdqs-inline {
	position: static !important;
	width: 100%;
	display: block;
	height: 65px;
}
#wdshare-share-box.wdqs-inline ul { 
	clear: both;
}
#wdshare-share-box.wdqs-inline ul li {
	float: left;
	margin-right: 10px;
	list-style-type: none !important;
}
.credit{
		font-size:1px;
	    color: #ccc;
		width: 2px;
		height: 2px;
}